<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Portrait of {{ site.title }}" class="profile-photo" />
        {% endif %}

        <p class="site-description">{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="profile-links">
          <li><i class="fa-solid fa-location-dot" aria-hidden="true"></i><span>London, UK</span></li>
          <li><a href="mailto:h.zenati@ucl.ac.uk"><i class="fa-solid fa-envelope" aria-hidden="true"></i><span>Email</span></a></li>
          <li><a href="https://scholar.google.com/citations?user=LBqNPp4AAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-lg" aria-hidden="true"></i><span>Google Scholar</span></a></li>
          <li><a href="https://github.com/houssamzenati"><i class="fa-brands fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>
        </ul>

        <nav class="site-nav" aria-label="Main navigation">
          <a href="{{ "/" | relative_url }}" {% if page.url == "/" %}class="is-active"{% endif %}>About</a>
          <a href="{{ "/publications/" | relative_url }}" {% if page.url == "/publications/" %}class="is-active"{% endif %}>Publications</a>
          <a href="{{ "/talks/" | relative_url }}" {% if page.url == "/talks/" %}class="is-active"{% endif %}>Talks</a>
          <a href="{{ "/teaching/" | relative_url }}" {% if page.url == "/teaching/" %}class="is-active"{% endif %}>Teaching</a>
          <a href="{{ "/software/" | relative_url }}" {% if page.url == "/software/" %}class="is-active"{% endif %}>Software</a>
          <a href="{{ "/service/" | relative_url }}" {% if page.url == "/service/" %}class="is-active"{% endif %}>Service</a>
          <a href="{{ "/miscellaneous/" | relative_url }}" {% if page.url == "/miscellaneous/" %}class="is-active"{% endif %}>Miscellaneous</a>
        </nav>
      </header>
      <section>
      {% unless page.url == "/" %}
      <h1>{{ page.title }}</h1>
      {% endunless %}

      {{ content }}

      </section>
    </div>
  </body>
</html>
